{% block layout %}

{% embed 'main.tmpl' %}

{% block title_page%}
Stories project
{%endblock%}

{% block content %}
<div class="row">
<div class="col-md-12">
Hello!
</div>
</div>

{% endblock%}

{% endembed %}

{% endblock%}